html, body{
    background-color: #21232A;
    color: white;
    font-size: 1.3rem;
    font-family: sans-serif;
    padding: 70px;
}

button{
    padding: 15 px;
    font-size: 1.3rem;
    margin-right: 5px;
}